$breakpoint-micro: 400px;
$breakpoint-small: 520px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-wide: 1320px;

svg {
  overflow: visible;
  font-size: initial;
}

text,
.text {
  font: 15px GillSansMTStd-Medium, GillSansW01-Medium;
  fill: #666;
  color: #666;
}

.axis path,
.axis line {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke-dasharray: 5;
}
.axis path {
  display: none;
}
.spd {
  fill: #eb001f;
}
.afd {
  fill: #4990e2;
}
.fdp {
  fill: #f0d034;
}
.gruene {
  fill: #58ab27;
}
.linke_pds {
  fill: #8c3473;
}

.labelsContainer {
  width: 100%;
  margin-top: 1px; // border top not showing on site???
  padding: {
    bottom: 1.5em;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .label {
    width: 16.66%;
    transform: translateX(30%);
  }
  .number {
    font-family: TimesModern-Bold;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    fill: #000;
    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      width: 10px;
      height: 10px;
      margin: 0 0.4rem;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      transform: translate(-20px, 3px);
    }
    &.AfD {
      &::before {
        background: #4990e2;
      }
    }
    &.CDUCSU {
      &::before {
        background: #000;
      }
    }
    &.SPD {
      &::before {
        background: #eb001f;
      }
    }
    &.Left {
      &::before {
        background: #8c3473;
      }
    }
    &.Green {
      &::before {
        background: #58ab27;
      }
    }
    &.FDP {
      &::before {
        background: #f0d034;
      }
    }
  }

  @media only screen and (max-width: $breakpoint-small) {
    //padding-left: calc(5%);
    .label {
      width: 33%;
      padding-bottom: 1rem;
    }
    width: 95%;
    padding-bottom: 0;
  }

  @media only screen and (max-width: $breakpoint-small) {
    padding-top: 15px;
  }
}
.methodologycontainer {
  text-align: center;
  background-color: #f8f7f1;
  padding-top: 1em;

  .methodologyline {
    width: 90%;
    margin: 0 auto;
  }

  & .methodology {
    color: #c00 !important;
    font-family: GillSansMTStd-Medium, GillSansW01-Medium;
    font-size: 13px;
    text-decoration: none;

    & .Icon {
      color: #c00 !important;
    }
    & .Icon:hover {
      color: #69696a !important;
    }

    &:hover {
      color: #69696a !important;

      & .Icon {
        color: #69696a !important;
      }
    }
  }
}
