$breakpoint-micro: 400px;
$breakpoint-small: 520px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-wide: 1320px;

svg {
  overflow: visible;
  font-size: initial;
}

text,
.text {
  font-family: GillSansMTStd-Medium, GillSansW01-Medium;
  fill: #696969;
  color: #696969;
  font-size: 12px;
}

:global(.tick line) {
  display: unset !important;
  stroke: lightgrey;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke-dasharray: 5;
}

:global(.domain) {
  display: none;
}

.labelsContainer {
  width: 100%;
  margin-top: 1px; // border top not showing on site???
  padding: {
    bottom: 1.5em;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 1rem;

  .label {
    width: 16.66%;
    transform: translateX(30%);

    @media only screen and (max-width: $breakpoint-mobile) {
      width: 33%;
      padding-bottom: 1rem;
    }
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    padding-top: 15px;
  }

  .circle {
    position: absolute;
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    margin: 0 0.4rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transform: translate(-20px, 3px);
  }

  .number {
    font-family: TimesModern-Bold;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    fill: #000;
  }
}

.source {
  font-size: 10px;
  color: #666;
  margin-bottom: 1rem;
}
