@import "../../settings";

tbody {
  tr {
    border-top: 1px solid $border-grey;

    td {
      padding: 2rem 1rem;
      font-family: "GillSansMTStd-Medium", Arial, sans-serif;
      font-weight: normal;
      text-align: center;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }

      &.alignLeft {
        text-align: left;
      }

      &.alignRight {
        text-align: right;
      }
    }
  }
}
