svg {
  overflow: visible;
}
text {
  font: 13px 'GillSansMTStd-Medium';
  fill: #768692;
}

.line {
  stroke-width: 2px;
}

.axis {
  path {
    stroke: #dbdbdb;
    stroke-width: 1px;
  }

  :global(.domain) {
    display: none;
  }
}

.xAxis {
  text-anchor: 'middle';
}
.yAxis {
  :global(.tick:last-of-type) > text {
    transform: translateY(5px);
  }
  :global(.tick:first-of-type) > text {
    transform: translateY(-5px);
  }
}

.line {
  fill: none;
}
.breaks {
  stroke: #d3d3d3;
  stroke-width: 1px;
  stroke-dasharray: 2px, 2px;
}

:global(.tick) line {
  display: none;
}

.stroked {
  stroke-dasharray: 5px, 5px !important;
  stroke: rgba(108, 116, 123, 0.5);
  stroke-width: 1px;
}
