@font-face {
  font-family: "GillSansW01-Bold";
  src: url("https://www.thetimes.co.uk/fonts//GillSansW01-Bold.eot");
  src: url("https://www.thetimes.co.uk/fonts//GillSansW01-Bold.eot?iefix")
      format("eot"),
    url("https://www.thetimes.co.uk/fonts//GillSansW01-Bold.woff")
      format("woff"),
    url("https://www.thetimes.co.uk/fonts//GillSansW01-Bold.svg#webfont")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
